In [60]:
import datasets
import numpy as np
import pandas as pd
from pathlib import Path
from datasets import load_dataset

In [7]:
dataset = load_dataset("cnn_dailymail", '3.0.0')

Downloading and preparing dataset cnn_dailymail/3.0.0 (download: 558.32 MiB, generated: 1.28 GiB, post-processed: Unknown size, total: 1.82 GiB) to /home/arth/.cache/huggingface/datasets/cnn_dailymail/3.0.0/3.0.0/0128610a44e10f25b4af6689441c72af86205282d26399642f7db38fa7535602...

HBox(children=(FloatProgress(value=1.0, bar_style='info', description='Downloading', layout=Layout(width='20px…

HBox(children=(FloatProgress(value=1.0, bar_style='info', description='Downloading', layout=Layout(width='20px…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=572061.0, style=ProgressStyle(descripti…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=12259516.0, style=ProgressStyle(descrip…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=660943.0, style=ProgressStyle(descripti…

HBox(children=(FloatProgress(value=1.0, bar_style='info', layout=Layout(width='20px'), max=1.0), HTML(value=''…

HBox(children=(FloatProgress(value=1.0, bar_style='info', layout=Layout(width='20px'), max=1.0), HTML(value=''…

HBox(children=(FloatProgress(value=1.0, bar_style='info', layout=Layout(width='20px'), max=1.0), HTML(value=''…

Dataset cnn_dailymail downloaded and prepared to /home/arth/.cache/huggingface/datasets/cnn_dailymail/3.0.0/3.0.0/0128610a44e10f25b4af6689441c72af86205282d26399642f7db38fa7535602. Subsequent calls will reuse this data.

In [28]:
def get_pandas_df(ds, split='train'):
    sp = dataset[split]
    df = pd.DataFrame(sp, index=range(len(sp)))
    return df

In [29]:
dataset

DatasetDict({
    train: Dataset({
        features: ['article', 'highlights', 'id'],
        num_rows: 287113
    })
    validation: Dataset({
        features: ['article', 'highlights', 'id'],
        num_rows: 13368
    })
    test: Dataset({
        features: ['article', 'highlights', 'id'],
        num_rows: 11490
    })
})

In [39]:
train_df = get_pandas_df(dataset, split='train')
val_df = get_pandas_df(dataset, split='validation')
test_df = get_pandas_df(dataset, split='test')

In [32]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287113 entries, 0 to 287112
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   article     287113 non-null  object
 1   highlights  287113 non-null  object
 2   id          287113 non-null  object
dtypes: object(3)
memory usage: 6.6+ MB

In [40]:
val_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13368 entries, 0 to 13367
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   article     13368 non-null  object
 1   highlights  13368 non-null  object
 2   id          13368 non-null  object
dtypes: object(3)
memory usage: 313.4+ KB

In [41]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11490 entries, 0 to 11489
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   article     11490 non-null  object
 1   highlights  11490 non-null  object
 2   id          11490 non-null  object
dtypes: object(3)
memory usage: 269.4+ KB

In [42]:
train_df.head(1)

,article,highlights,id
0,It's official: U.S. President Barack Obama wan...,Syrian official: Obama climbed to the top of t...,0001d1afc246a7964130f43ae940af6bc6c57f01

In [43]:
val_df.head(1)

,article,highlights,id
0,(CNN)Singer-songwriter David Crosby hit a jogg...,"Accident happens in Santa Ynez, California, ne...",0044e296ecfe3ba57a351ad2a36d034491e878ce

In [44]:
test_df.head(1)

,article,highlights,id
0,"(CNN)James Best, best known for his portrayal ...","James Best, who played the sheriff on ""The Duk...",00200e794fa41d3f7ce92cbf43e9fd4cd652bb09

In [52]:
def get_max_length(df):
    article_len = df.article.str.len().max()
    summary_len = df.highlights.str.len().max()
    print("---Max length---")
    print(f"Article {article_len}")
    print(f"Highlights {summary_len}")        
    return article_len, summary_len

In [53]:
_, _ = get_max_length(train_df)

---Max length---
Article 15925
Highlights 7388

In [54]:
_, _ = get_max_length(val_df)

---Max length---
Article 11412
Highlights 8541

In [57]:
_, _ = get_max_length(test_df)

---Max length---
Article 11991
Highlights 3410

In [64]:
dataset_path = Path('dataset')

In [65]:
train_df.to_csv(dataset_path/'train.csv', index = False)

In [66]:
val_df.to_csv(dataset_path/'validation.csv', index = False)

In [67]:
test_df.to_csv(dataset_path/'test.csv', index = False)